#register-header {
	width: 100%; 
	height: 250px; 
	background-color: #0037ff;
    padding-top: 52px;
}

	#register-header .h1, #register-header .h3 {
		color: #fff;
		display: inline-block;
        width: 100%;
	}

#register-modal {
    background: #fff;
    box-shadow: 0px 16px 74px 0px rgba(0,0,0,0.1);
    display: inline-block;
    margin-top: -50px;
    max-width: 600px;
    padding: 16px 16px;
    text-align: left;
    width: 100vw;
    border-radius: 4px;
}
	#register-modal .h2 {
		display: inline-block;
		margin: 12px 24px;
	}

.buttons-right {
	/*margin-top: 4px;*/
	padding: 8px 0;	
	text-align: right;
}
	.buttons-right button {
		min-width: 112px;
	}

#register-modal .buttons-right {
	padding: 8px 16px;
    display: inline-block;
}