.mdl-layout__header-row {
    height: 56px;
    padding: 0 16px 0 24px;
}

.mdl-layout-title {
    font-family: truenobold;
}

.home {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#0037ff+0,0dc0ff+100 */
    background: #0037ff; /* Old browsers */
    background: -moz-linear-gradient(-45deg, #0037ff 0%, #0dc0ff 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(-45deg, #0037ff 0%,#0dc0ff 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(135deg, #0037ff 0%,#0dc0ff 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0037ff', endColorstr='#0dc0ff',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

.upper-header {
    background-color: #0037ff;
    padding-top: 100px;
    color: white;
    height: 42vh;
    padding-left: 48px;
}

    .upper-header h2 {
        color: white;
        /* max-width: 316px; */
        display: inline-block;
    }

.upper-header img {
    border-radius: 50%;
    margin: 24px;
    width: 174px;
}

.popup-container .popup {
    box-shadow: 0px 0px 16px 0px rgba(0,0,0,0.5);
    border-radius: 15px;
    width: 70%;
    height: 42%;
    padding: 10vh 16vw;
    background-color: white;
}

.button.button-positive {
    border-radius: 50px;
    border: none;
    padding: 8px 12px;
    width: 200px;
    background-color: #24292e;
    color: white;
}

.mdl-layout__header {
    background-color: transparent;
    box-shadow: none;
}

.mdl-layout__header-row button {
    border: 1px solid white;
    padding: 0 24px;
    box-shadow: none;
    border-radius: 50px;
    height: 36px;
    line-height: 1em;
    margin-left: 16px;
}

.profile .mdl-layout__header {
    margin-bottom: -64px;
}

.value-prop .mdl-button {
    color: white;
    background-color: #24292e !important;
    border-radius: 50px;
    padding: 0 24px;
    /* width: 31%; */
    height: 6%;
    margin-top: 8px;
    font-size: 18px;
}

/* github logo */
.value-prop .mdl-button img {
    height: 54%;
    margin-right: 8px;
    margin-top: -4px;
}

.home .page-content {
    margin: 0px 16vw;
}

.value-prop {
    text-align: center;
    margin-top: 196px;
}

    .value-prop h1 {
        font-family: truenobold;
        color: white;
    }

    .value-prop h2 {
        font-family: truenoregular;
        color: white;
    }

.grey-toast {
    position: absolute;
    bottom: 24px;
    border-radius: 50px;
    background-color: grey;
    height: 72px;
    /* width: 100%; */
    color: white;
    padding: 24px;
    margin: 0px 24px;
    box-sizing: border-box;
}

.bar-footer {
    height: 72px;
}

@media screen and (max-width: 1024px) {
    
    .mdl-layout__header-row {
        height: 56px;
        padding: 0 16px 0 24px;
    }
    
    .upper-header h2 {
        max-width: 1000px;
    }
    
    .profile .mdl-layout__header {
        margin-bottom: -56px;
    }
    
    .bar-footer {
        height: 56px;
    }
    
}

/* mobile queries */
@media screen and (max-width: 720px) {
    
    .mdl-navigation {
        display: none;
    }
    
    .value-prop {
        margin-top: 24vw;
    }
    
    .value-prop h1 {
        font-size: 48px;
    }
    
    .value-prop h2 {
        font-size: 21px;
        line-height: 1.5em;
    }
    
    .value-prop .mdl-button {
        /* width: 256px; */
    }
    
    #register-header {
        padding: 36px 26px;
        padding-top: 36px !important;
        text-align: left;
    }
    
    #register-modal {
        margin-top: -42px;
        border-radius: 0px !important;
    }
    
    .upper-header {
        text-align: center;
        padding: 0px;
        padding-top: 42px;
        height: 90vw;
    }
    
        .upper-header img {
            width: 174px;
            margin-bottom: 0px;
        }
    
    .upper-header h2 {
        font-size: 31px;
        width: 100%;
    }
    
    .value-prop .mdl-button {
        height: 42px;
        width: 254px;
    }
    
}

/* PROFILE */

#add-skill {
    max-width: 300px;
    display: inline-block;
    margin-top: 16px;
    margin-bottom: 32px;
}