<!-- Always shows a header, even in smaller screens. -->
<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header home" ng-controller="homeController as Home">
	<header class="mdl-layout__header">
		<div class="mdl-layout__header-row">
			<!-- Title -->
			<span class="mdl-layout-title">edward</span>
			<!-- Add spacer, to align navigation to the right -->
			<div class="mdl-layout-spacer"></div>
			<!-- Navigation. We hide it in small screens. -->
			<nav class="mdl-navigation mdl-layout--large-screen-only">
				<a class="mdl-navigation__link" href="">About us</a>
				<a class="mdl-navigation__link" href="">Jobs</a>
			</nav>
            <button class="mdl-button mdl-js-button" ui-sref="register" style="color: white;">
				Inicia sesión
			</button>
			<!-- Accent-colored raised button with ripple -->
			<!-- <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent" ui-sref="register">
				Entra con GitHub
			</button> -->
		</div>
	</header>
	<!-- <div class="mdl-layout__drawer">
		<span class="mdl-layout-title">edward</span>
		<nav class="mdl-navigation">
			<a class="mdl-navigation__link" href="">Link</a>
			<a class="mdl-navigation__link" href="">Link</a>
			<a class="mdl-navigation__link" href="">Link</a>
			<a class="mdl-navigation__link" href="">Link</a>
		</nav>
	</div> -->
	<main class="mdl-layout__content">
		<div class="page-content">  
			<div class="value-prop">
					<h1>We speak developer</h1>
					<h2>Edward translates your GitHub to human resources lenguage</h2>
<button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent" ui-sref="register">
				Entra con GitHub
			</button>
			</div>
		</div>
	</main>
</div>
