<ion-content ng-controller="userController as User" style="text-align:center; background-color: #fff;">

	<div style="width: 100%; height: 150px; background-color: #ff9800;">
		<span class="h1">{{'REGISTER' | translate }}</span>
	</div>

	<div style="margin-top: -50px; width: 100vw; max-width: 500px; display:inline-block; background: #fff; z-index: 999;">
	<!-- <div style="background: #fff; color: black;"> -->

		<div>
			<span class="h2">Skills</span>
			<!-- <span>{{}}</span> -->
		</div>

		<skill-list-element ng-repeat="skill in User.skill.list" skill="skill"></skill-list-element>
		
		<button ui-sref="profile({uid: 1 })">Go!</button>
	</div>

	<!-- <img ng-src="{{User.user.data.pic}}">
	<input type="text" ng-model="User.user.data.name">
 -->
	<!-- <div class="list card"> -->

		<!-- <skill-list-element ng-repeat="skill in User.skill.list" skill="skill"> -->

	<!-- </div> -->


</ion-content>